---
---

@import "minima";

footer.site-footer {
  padding: 0.9rem 0;
  text-align: center;
  font-size: 0.8em;

  p {
    margin-bottom: 0.3rem;
  }
}

.post-item {
  h3 {
    margin-bottom: 0;
  }
}

.post-tag {
  &:after {
    content: ',';
  }

  &:last-child:after {
    content: '';
  }
}

#english-disclaimer {
  background-color: #EEE;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 0.2rem 0.8rem;
  margin-bottom: 1rem;
}
